* {
  box-sizing: border-box;
}

body {
  font-family: "verdana";
  margin: 0;
}

.ccc-shell{
  box-sizing: border-box;
  background-color: #000;
  .fbox(width, 1024px, 3840px);
  .fbox(height, 768px, 2160px);
  position: relative; 
}


.viewport-value{
  .fluid-font-size(14px, 40px);
}

.cbutton-primary{
  margin: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #06a1de;
  color: white;
  .fbox(width, 112px, 304px);
  .fbox(height, 32px, 92px); 
  .respond-to('optiplex', {
    margin: 20px;
  })
}


.cbutton-secondary{
  margin: 10px;
  border: 0;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #06a1de;
  color: white;

  .fbox(width,112px, 304px);
  .fbox(height, 32px, 92px);
  .respond-to('optiplex', {
    margin: 20px;
  })
}


/* Style the header */
header {  background-color: #0047ba;
  text-align: center;
  color: white;
  .fbox(width, 1024px, 3840px);
  .fbox(height, 60px, 200px);
  .fbox(padding-top, 20px, 60px);
  .fbox(padding-bottom, 20px, 60px);  
  .fluid-font-size(24px, 72px);
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #212326;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  .fluid-font-size(24px, 72px);
  .fbox(height, 125px, 310px);
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  
  @media screen and (min-width: 1280px) {
    margin: 20px;
  }

  .fbox(width, 162px, 409px);
  .fbox(height, 30px, 90px);
  .fbox(padding-top, 7px, 24px);
  .fbox(padding-bottom, 7px, 24px);
  .fluid-font-size(12px, 30px);
}








@min-supported-vw : 992; /*min supported viewport value */
@min-supported-vh : 640; /*min supported viewheight value */

@max-supported-vw : 3840; /*max supported viewport value */
@max-supported-vh: 2160;  /*max supported viewheight value */

@tablet-design-vw: 1024; /*tablet design viewport */
@tablet-design-vh: 768;  /*table design viewheight */

@optiplex-design-vw: 3840; /*optiplex design viewport */
@optiplex-design-vh: 2160; /*optiplex design viewheight */


.respond-to(@screen, @rules) when (@screen = "optiplex") {
  @media screen and (min-width: 1280px) {
    @rules();
  }
}

.tvfluid-font-size(@tv){
  font-size: min(
    round((unit(@tv)/@optiplex-design-vw)*100, 2)*1vw,
    round((unit(@tv)/@optiplex-design-vh)*100, 2)*1vh   
  );
}


.fluid-font-size(@tab, @tv){
  font-size: min(
    round((unit(@tab)/@tablet-design-vw)*100, 2)*1vw,
    round((unit(@tab)/@tablet-design-vh)*100, 2)*1vh   
  );
  .tvfluid-font-size(@tv);
}

.xboxtv(@prop, @tab, @tv){
  .respond-to('optiplex', {
    @{prop}: clamp(
      (unit(@tab)/@tablet-design-vw)*@min-supported-vw * 1px,       
      round((unit(@tv)/@optiplex-design-vw)*100, 2)*1vw,
      (unit(@tv)/@optiplex-design-vw)*@max-supported-vw * 1px,        
    );});
}

.yboxtv(@prop, @tab, @tv){
  .respond-to('optiplex', {
    @{prop}: clamp(
      (unit(@tab)/@tablet-design-vh)*@min-supported-vh * 1px,      
      round((unit(@tv)/@optiplex-design-vh)*100, 2)*1vh,
      (unit(@tv)/@optiplex-design-vh)*@max-supported-vh * 1px,        
    );});
}

.fbox(@prop, @tab, @tv) when (@prop = width), 
  (@prop = padding-left), 
  (@prop = padding-right), 
  (@prop = margin-left), 
  (@prop = margin-right) {
  @{prop}: clamp(
    (unit(@tab)/@tablet-design-vw)*@min-supported-vw * 1px,       
    round((unit(@tab)/@tablet-design-vw)*100, 2)*1vw,
    (unit(@tv)/@optiplex-design-vw)*@max-supported-vw * 1px,    
  );
  .xboxtv(@prop, @tab, @tv);
}


.fbox(@prop, @tab, @tv) when (@prop = height), 
  (@prop = padding-top), 
  (@prop = padding-bottom), 
  (@prop = margin-top), 
  (@prop = margin-bottom) {
  @{prop}: clamp(
    (unit(@tab)/@tablet-design-vh)*@min-supported-vh * 1px,    
    round((unit(@tab)/@tablet-design-vh)*100, 2)*1vh,
    (unit(@tv)/@optiplex-design-vh)*@max-supported-vh * 1px,      
  );
  .yboxtv(@prop, @tab, @tv);
}

